<% layout('layouts/boilerPlate') -%>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p>Message : <%=message%></p>

    <hr>
    <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="404 Image" class="mx-auto rounded-lg"> 
    
  </div>